<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.AdminNewsDao">
    <!--id 方法名  resultType返回类型 -->
    <select id="newsInfo"  resultType="News">
		select * from news
	</select>
	<!--id 方法名  resultType返回类型 -->
	<select id="newsInfoPage"  resultType="News" parameterType="map">
		select * from news order by id limit #{startIndex}, #{perPageSize}
	</select>

	<!--新增所有列-->
	<insert id="newsInsert" keyProperty="id" useGeneratedKeys="true" parameterType="News">
        insert into animalshelter.news(ntitle, ncontent, ntime)
        values (#{ntitle}, #{ncontent}, now())
    </insert>

	<!--根据用户账号查询-->
    <select id="selectANews" resultType="News" parameterType="News">
		select * from news where ntitle = #{ntitle}
	</select>

	<!--根据用户id查询-->
	<select id="toEditNews" resultType="News" parameterType="Integer">
		select * from news where id = #{id}
	</select>

	<!-- 修改一个宠物 -->
	<update id="editNews" parameterType="News">
		update animalshelter.news
		<set>
			<if test="ntitle != null and ntitle != ''">
				ntitle = #{ntitle},
			</if>
			<if test="ncontent != null and ncontent != ''">
				ncontent = #{ncontent},
			</if>
			<if test="ntime != null">
				ntime = #{ntime},
			</if>
		</set>
		where id = #{id}
	</update>

    <delete id="deleteANews"  parameterType="Integer" >
		delete from news where id = #{id}
	</delete>
</mapper>