<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.BeforeMasterDao">
    <!--id 方法名  resultType返回类型 -->
    <select id="masterLimit"  resultType="Lookmaster">
		SELECT * FROM lookmaster order by id desc LIMIT 10
	</select>

	<!--根据id查询-->
	<select id="selectAMaster" resultType="Masterdetail" parameterType="Integer">
		SELECT lookmaster.msex,lookmaster.mtitle,lookmaster.mtime,lookmaster.mpicture,lookmaster.minfo,animalkind.kindname,buser.bname,buser.bqq,buser.bwechat,buser.btel from lookmaster,animalkind,buser WHERE lookmaster.buserid = buser.id AND lookmaster.kindid = animalkind.id AND lookmaster.id = #{id}
	</select>

	<!--根据id查询-->
	<select id="userMasterIndex" resultType="Lookmaster" parameterType="Integer">
		select * from lookmaster where id = #{id}
	</select>















	<select id="masterInfo"  resultType="Lookmaster">
		SELECT * FROM lookmaster
	</select>
	<!--id 方法名  resultType返回类型 -->
	<select id="masterInfoPage"  resultType="Lookmaster" parameterType="map">
		select * from lookmaster order by id desc limit #{startIndex}, #{perPageSize}
	</select>

	<!--id 方法名  resultType返回类型 -->
	<select id="masterFive"  resultType="Lookmaster" parameterType="Integer">
		select * from lookmaster where buserid = #{buserid} order by id desc limit 5
	</select>

	<!--id 方法名  resultType返回类型 -->
	<select id="masterAll"  resultType="Lookmaster" parameterType="Integer">
		select * from lookmaster where buserid = #{buserid}
	</select>

	<!--id 方法名  resultType返回类型 -->
	<select id="masterIndexPage"  resultType="Lookmaster" parameterType="map">
		select * from lookmaster where  buserid = #{buserid} order by id desc limit #{startIndex}, #{perPageSize}
	</select>

	<delete id="deleteAUserMaster"  parameterType="Integer" >
	delete from lookmaster where id = #{id}
	</delete>






	<!--新增领养信息-->
	<insert id="animalInsert" keyProperty="id" useGeneratedKeys="true" parameterType="Animal">
        insert into animalshelter.animal(kindid, lsex, ltitle, lyear, buserid, lbirth, lval, lbug, lpicture, linfo, ltime)
        values (#{kindid}, #{lsex}, #{ltitle}, #{lyear}, #{buserid}, #{lbirth}, #{lval}, #{lbug}, #{lpicture}, #{linfo}, now())
    </insert>

	<!--寻主-->
	<insert id="masterInsert" keyProperty="id" useGeneratedKeys="true" parameterType="Lookmaster">
        insert into animalshelter.lookmaster(kindid, msex, mtitle, buserid, mtime, mpicture, minfo)
        values (#{kindid}, #{msex}, #{mtitle}, #{buserid}, #{mtime}, #{mpicture}, #{minfo})
    </insert>

	<!--寻宠-->
	<insert id="petInsert" keyProperty="id" useGeneratedKeys="true" parameterType="Lookpet">
        insert into animalshelter.lookpet(kindid, psex, pyear, ptitle, buserid, ptime, ppicture, pinfo)
        values (#{kindid}, #{psex}, #{pyear}, #{ptitle}, #{buserid}, #{ptime}, #{ppicture}, #{pinfo})
    </insert>



	<!--select * from animal where id = #{id}-->
	<!--select * from animal,animalkind WHERE animal.kindid = animalkind.id and animal.id = #{id}-->
	<!--&lt;!&ndash;根据用户id查询&ndash;&gt;-->
	<!--<select id="toEditAnimal" resultType="Animal" parameterType="Integer">-->
		<!--select * from animal where id = #{id}-->
	<!--</select>-->

	<!--&lt;!&ndash; 修改一个宠物 &ndash;&gt;-->
	<!--<update id="editAnimal" parameterType="Animal">-->
		<!--update animalshelter.animal-->
		<!--<set>-->
			<!--<if test="kindid != null">-->
				<!--kindid = #{kindid},-->
			<!--</if>-->
			<!--<if test="lsex != null and lsex != ''">-->
				<!--lsex = #{lsex},-->
			<!--</if>-->
			<!--<if test="ltitle != null and ltitle != ''">-->
				<!--ltitle = #{ltitle},-->
			<!--</if>-->
			<!--<if test="lyear != null and lyear != ''">-->
				<!--lyear = #{lyear},-->
			<!--</if>-->
			<!--<if test="buserid != null">-->
				<!--buserid = #{buserid},-->
			<!--</if>-->
			<!--<if test="lbirth != null and lbirth != ''">-->
				<!--lbirth = #{lbirth},-->
			<!--</if>-->
			<!--<if test="lval != null and lval != ''">-->
				<!--lval = #{lval},-->
			<!--</if>-->
			<!--<if test="lbug != null and lbug != ''">-->
				<!--lbug = #{lbug},-->
			<!--</if>-->
			<!--<if test="lpicture != null and lpicture != ''">-->
				<!--lpicture = #{lpicture},-->
			<!--</if>-->
			<!--<if test="linfo != null and linfo != ''">-->
				<!--linfo = #{linfo},-->
			<!--</if>-->
			<!--<if test="ltime != null">-->
				<!--ltime = #{ltime},-->
			<!--</if>-->
		<!--</set>-->
		<!--where id = #{id}-->
	<!--</update>-->


</mapper>