<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.BeforePetDao">
    <!--id 方法名  resultType返回类型 -->
    <select id="petLimit"  resultType="Lookpet">
		SELECT * FROM lookpet order by id desc LIMIT 10
	</select>

	<!--根据id查询-->
	<select id="selectAPet" resultType="Petdetail" parameterType="Integer">
		SELECT lookpet.psex,lookpet.pyear,lookpet.ptitle,lookpet.ptime,lookpet.ppicture,lookpet.pinfo,animalkind.kindname,buser.bname,buser.bqq,buser.bwechat,buser.btel from lookpet,animalkind,buser WHERE lookpet.buserid = buser.id AND lookpet.kindid = animalkind.id AND lookpet.id = #{id}
	</select>

	<select id="petInfo"  resultType="Lookpet">
		SELECT * FROM lookpet
	</select>


	<!--id 方法名  resultType返回类型 -->
	<select id="petFive"  resultType="Lookpet" parameterType="Integer">
		select * from lookpet where buserid = #{buserid} order by id desc limit 5
	</select>


	<!--id 方法名  resultType返回类型 -->
	<select id="petAll"  resultType="Lookpet" parameterType="Integer">
		select * from lookpet where buserid = #{buserid}
	</select>

	<!--id 方法名  resultType返回类型 -->
	<select id="petIndexPage"  resultType="Lookpet" parameterType="map">
		select * from lookpet where buserid = #{buserid} order by id desc limit #{startIndex}, #{perPageSize}
	</select>

	<!--根据id查询-->
	<select id="userPetIndex" resultType="Lookpet" parameterType="Integer">
		select * from lookpet where id = #{id}
	</select>


	<delete id="deleteAUserPet"  parameterType="Integer" >
	delete from lookpet where id = #{id}
	</delete>

















	<!--新增领养信息-->
	<insert id="animalInsert" keyProperty="id" useGeneratedKeys="true" parameterType="Animal">
        insert into animalshelter.animal(kindid, lsex, ltitle, lyear, buserid, lbirth, lval, lbug, lpicture, linfo, ltime)
        values (#{kindid}, #{lsex}, #{ltitle}, #{lyear}, #{buserid}, #{lbirth}, #{lval}, #{lbug}, #{lpicture}, #{linfo}, now())
    </insert>

	<!--寻主-->
	<insert id="masterInsert" keyProperty="id" useGeneratedKeys="true" parameterType="Lookmaster">
        insert into animalshelter.lookmaster(kindid, msex, mtitle, buserid, mtime, mpicture, minfo)
        values (#{kindid}, #{msex}, #{mtitle}, #{buserid}, #{mtime}, #{mpicture}, #{minfo})
    </insert>

	<!--寻宠-->
	<insert id="petInsert" keyProperty="id" useGeneratedKeys="true" parameterType="Lookpet">
        insert into animalshelter.lookpet(kindid, psex, pyear, ptitle, buserid, ptime, ppicture, pinfo)
        values (#{kindid}, #{psex}, #{pyear}, #{ptitle}, #{buserid}, #{ptime}, #{ppicture}, #{pinfo})
    </insert>


	<!--根据用户账号查询-->
    <select id="selectAAnimal" resultType="Animal" parameterType="Integer">
		select * from animal,animalkind WHERE animal.kindid = animalkind.id and animal.id = #{id}
	</select>
	<!--select * from animal where id = #{id}-->
	<!--select * from animal,animalkind WHERE animal.kindid = animalkind.id and animal.id = #{id}-->
	<!--&lt;!&ndash;根据用户id查询&ndash;&gt;-->
	<!--<select id="toEditAnimal" resultType="Animal" parameterType="Integer">-->
		<!--select * from animal where id = #{id}-->
	<!--</select>-->

	<!--&lt;!&ndash; 修改一个宠物 &ndash;&gt;-->
	<!--<update id="editAnimal" parameterType="Animal">-->
		<!--update animalshelter.animal-->
		<!--<set>-->
			<!--<if test="kindid != null">-->
				<!--kindid = #{kindid},-->
			<!--</if>-->
			<!--<if test="lsex != null and lsex != ''">-->
				<!--lsex = #{lsex},-->
			<!--</if>-->
			<!--<if test="ltitle != null and ltitle != ''">-->
				<!--ltitle = #{ltitle},-->
			<!--</if>-->
			<!--<if test="lyear != null and lyear != ''">-->
				<!--lyear = #{lyear},-->
			<!--</if>-->
			<!--<if test="buserid != null">-->
				<!--buserid = #{buserid},-->
			<!--</if>-->
			<!--<if test="lbirth != null and lbirth != ''">-->
				<!--lbirth = #{lbirth},-->
			<!--</if>-->
			<!--<if test="lval != null and lval != ''">-->
				<!--lval = #{lval},-->
			<!--</if>-->
			<!--<if test="lbug != null and lbug != ''">-->
				<!--lbug = #{lbug},-->
			<!--</if>-->
			<!--<if test="lpicture != null and lpicture != ''">-->
				<!--lpicture = #{lpicture},-->
			<!--</if>-->
			<!--<if test="linfo != null and linfo != ''">-->
				<!--linfo = #{linfo},-->
			<!--</if>-->
			<!--<if test="ltime != null">-->
				<!--ltime = #{ltime},-->
			<!--</if>-->
		<!--</set>-->
		<!--where id = #{id}-->
	<!--</update>-->

    <!--<delete id="deleteAAnimal"  parameterType="Integer" >-->
		<!--delete from animal where id = #{id}-->
	<!--</delete>-->
</mapper>