<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.BeforeOrderDao">

	<!--添加订单-->
	<insert id="addOrder" keyProperty="id" useGeneratedKeys="true" parameterType="Getanimal">
        insert into animalshelter.getanimal(buserid, ghome, gchildren, gmarried, status, orderdate)
        values (#{buserid}, #{ghome}, #{gchildren}, #{gmarried}, 0, now())
    </insert>

	<!--添加订单详情-->
	<insert id="addOrderDetail" keyProperty="id" useGeneratedKeys="true" parameterType="map">
        insert into animalshelter.getdetail(getanimalid, animalid)
        values (#{getanimalid}, #{animalid})
    </insert>




	<!--根据订单账号查询-->
	<select id="selectAllOrder" resultType="Adopt" parameterType="Integer">
		select getanimal.id,getanimal.`status`,animal.ltitle,animal.linfo,animal.lpicture,buser.bname,buser.bqq,buser.bwechat,buser.btel,buser.barea,buser.badd from getanimal,getdetail,animal,buser WHERE getdetail.getanimalid = getanimal.id and getdetail.animalid = animal.id and animal.buserid = buser.id and getanimal.buserid = #{buserid} ORDER BY getanimal.orderdate desc
	</select>

	<!--id 方法名  resultType返回类型 -->
	<select id="allInfoPage"  resultType="Adopt" parameterType="map">
		select getanimal.id,getanimal.`status`,animal.ltitle,animal.linfo,animal.lpicture,buser.bname,buser.bqq,buser.bwechat,buser.btel,buser.barea,buser.badd from getanimal,getdetail,animal,buser WHERE getdetail.getanimalid = getanimal.id and getdetail.animalid = animal.id and animal.buserid = buser.id and getanimal.buserid = #{buserid} order by getanimal.orderdate desc limit #{startIndex}, #{perPageSize}
	</select>

	<!--id 方法名  resultType返回类型 -->
	<select id="userIndex"  resultType="Adopt" parameterType="Integer">
		select getanimal.id,getanimal.`status`,animal.ltitle,animal.linfo,animal.lpicture,buser.bname,buser.bqq,buser.bwechat,buser.btel,buser.barea,buser.badd from getanimal,getdetail,animal,buser WHERE getdetail.getanimalid = getanimal.id and getdetail.animalid = animal.id and animal.buserid = buser.id and getanimal.id = #{id}
	</select>

















	<!--id 方法名  resultType返回类型 -->
    <select id="orderInfo"  resultType="Getanimal">
		select * from getanimal
	</select>
	<!--id 方法名  resultType返回类型 -->
	<select id="orderInfoPage"  resultType="Getanimal" parameterType="map">
		select * from getanimal order by id limit #{startIndex}, #{perPageSize}
	</select>

	<!--根据订单账号查询-->
    <select id="selectAOrder" resultType="Getanimal" parameterType="Getanimal">
		select * from getanimal where id = #{id}
	</select>

	<!--根据订单id查询-->
	<select id="toEditOrder" resultType="Getanimal" parameterType="Integer">
		select * from getanimal where id = #{id}
	</select>

	<!-- 修改一个宠物 -->
	<update id="editOrder" parameterType="Getanimal">
		update animalshelter.getanimal
		<set>
			<if test="buserid != null">
				buserid = #{buserid},
			</if>
			<if test="ghome != null and ghome != ''">
				ghome = #{ghome},
			</if>
			<if test="gchildren != null and gchildren != ''">
				gchildren = #{gchildren},
			</if>
			<if test="gmarried != null and gmarried != ''">
				gmarried = #{gmarried},
			</if>
			<if test="status != null">
				status = #{status},
			</if>
			<if test="orderdate != null">
				orderdate = #{orderdate},
			</if>
		</set>
		where id = #{id}
	</update>

    <delete id="deleteAOrder"  parameterType="Integer" >
		delete from getanimal where id = #{id}
	</delete>
</mapper>